{% extends "base/base.html" %}

{% block content %}

    <div class="position-absolute d-flex flex-column justify-content-center align-items-center vw-100 vh-90">
        <div class="card" id="card-change-password">
            <div class="card-body">
                <h3 class="mb-5">Change Password</a></h3>
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="{{ form.new_password1.auto_id }}" class="form-label">Verification Code</label>
                        <div id="passwordHelp" class="form-text">
                            Check out the mailbox assigned to the account.
                        </div>
                        {{ form.verification_code_email }}
                        {% if form.verification_code_email.errors %}
                            <div class="alert alert-danger m-5" role="alert">
                                {{ form.verification_code_email.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.old_password.auto_id }}" class="form-label">Old password</label>
                        {{ form.old_password }}
                        {% if form.old_password.errors %}
                            <div class="alert alert-danger m-5" role="alert">
                                {{ form.old_password.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.new_password1.auto_id }}" class="form-label">New password</label>
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                            <div class="alert alert-danger m-5" role="alert">
                                {{ form.new_password1.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.new_password2.auto_id }}" class="form-label">Confirm new password</label>
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            <div class="alert alert-danger m-5" role="alert">
                                {{ form.new_password2.errors }}
                            </div>
                        {% endif %}
                    </div>

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger m-5" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary">Change your password</button>
                    <button type="reset" class="btn">Discard</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
