{% extends "base/base.html" %}

{% block content %}
    <div class="position-absolute d-flex flex-column justify-content-center align-items-center vw-100 vh-90">
        <div class="card" id="card-login">
            <div class="card-body">
                <h3 class="mb-5">Login or <a href="/auth/register">sign in</a></h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.username.auto_id }}" class="form-label">Username</label>
                        {{ form.username }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.password.auto_id }}" class="form-label">Password</label>
                        {{ form.password }}
                    </div>

                    {% if form.non_field_errors  %}
                        <div class="alert alert-danger pt-1" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary">Log in</button>
                    <button type="reset" class="btn">Discard</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
