$color-one: #f8f9fa;
$color-two: #E4F1FF;
$color-three: #e9ecef;
$color-four: #ced4da;
$color-label-one: #9400FF;
$color-label-two: #27005D;

body {
    overflow-x: hidden;
}

.text-area-resize-none {
    resize: none;
}

div.position-absolute {
    margin-top: 10vh;
}

div#card-check-new-code.card {
    width: 40vw;
}

div#card-register.card,
div#card-change-password.card {
    width: 30vw;
}

div#card-login.card {
    width: 20vw;
}

div#list-group-history.list-group {
    a:nth-child(even) {
        background-color: $color-one;
    }

    .list-group-item:hover {
        background-color: $color-two;
    }
}

div#list-group-history.list-group,
div#card-code-sample.card,
div#card-notes.card,
div#card-code-sample.card {
    width: 70vw;
    margin-bottom: 30px;
}

div#code-sample-colored,
div#code-sample-colored-header {
    background-color: $color-three;
    padding: .375rem .75rem;
    border: 1px solid $color-four;
    border-radius: .25rem;
    max-height: 50vh;
    overflow: auto;
}

div#code-sample-colored-header {
    overflow: hidden;
    max-height: 20vh;
}

div#code-sample-colored div.highlight,
div#code-sample-colored-header div.highlight {
    background: $color-three !important;
}

div#list-group-history.list-group .list-group-item div div:nth-child(2) {
    span:nth-child(odd) {
        background-color: $color-label-one;
    }

    span:nth-child(even) {
        background-color: $color-label-two;
    }
}

@media only screen and (max-device-height: 768px) {
    div#card-check-new-code.card {
        width: 85vw;
    }

    div#card-check-new-code.card form div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;

        div {
            flex-direction: column;
            justify-content: space-between;
        }

        div div.form-check {
            display: block;
        }

        div div#buttons {
            flex-direction: row;
        }
    }

    div#card-login.card {
        width: 40vw;
    }

    div#card-register.card,
    div#card-change-password.card {
        width: 60vw;
    }
}
