{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Code Checkerrrr</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            {% include "header.html" %}
        </header>
        <content>
            {% block content %}No content.{% endblock %}
        </content>
        {% comment %} <footer> {% endcomment %}
            {% comment %} {% include "footer.html" %} {% endcomment %}
        {% comment %} </footer> {% endcomment %}
    </body>
</html>
