{% extends "base.html" %}

{% block content %}
    {% for code_sample in code_samples %}
        <div class="code-sample">
            <div class="code-sample-code">
                <p>{{ code_sample.code }}</p>
            </div>
            <div class="code-sample-meta">
                <table>
                    <tr>
                        <td>UID:</td>
                        <td>{{ code_sample.uid }}</td>
                    </tr>
                    <tr>
                        <td>Author:</td>
                        <td>{{ code_sample.author }}</td>
                    </tr>
                    <tr>
                        <td>Pub Date:</td>
                        <td>{{ code_sample.pub_date }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
