* {
    display: block;
    margin: 0px;
    padding: 0px;
}

title {
    display: none;
}

body {
    background-color: #FFFFEC;
    font: 16px Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F2167;
    color: white;
    padding: 10px 50px;
    z-index: 1000;
    overflow: hidden;
    border-bottom: 2px solid white;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 10px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

nav ul li:last-child {
    background-color: #4CB9E7;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: #4CB9E7;
}

nav ul li:last-child:hover {
    background-color: #3559E0;
}

header span {
    font: 30px Arial, sans-serif;
}

content {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

content:has(div.code-sample) {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.code-sample {
    width: 60vw;
    height: 10vw;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    position: relative;
    color: white;
}

.code-sample .code-sample-code {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0F2167;
    height: 100%;
    width: 70%;
    border-radius: 20px 0 0 20px;
}

.code-sample .code-sample-meta {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #4CB9E7;
    height: 100%;
    width: 30%;
    border-radius: 0 20px 20px 0;
}
