{% extends "base/base.html" %}

{% load static %}

{% block content %}
  <div class="position-absolute d-flex flex-column justify-content-start align-items-center vw-100 vh-90">

    <div class="card" id="card-code-sample">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Code
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body d-flex flex-row justify-content-between">
              <div class="w-75 ps-3">
                <label class="form-label">Code sample:</label>
                <div class="w-100" id="code-sample-colored">{{ code_sample.code_colored | safe }}</div>
              </div>
              <div class="w-25 ps-3">
                <div class="mb-3">
                  <label class="form-label">Created on:</label>
                  <input class="form-control" type="text" value="{{ code_sample.pub_date }}" readonly="readonly">
                </div>
                <div class="mb-3">
                  <label class="form-label">Language:</label>
                  <input class="form-control" type="text" value="{{ code_sample.language.name }}" readonly="readonly">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Result
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body d-flex flex-row justify-content-between">
              <div class="w-50 ps-3">
                <label class="form-label">AI Check:</label>
                <textarea class="form-control w-100 text-area-resize-none" readonly="readonly" rows="20" cols="14" id="list-group-history-code">{{ code_sample.result_ai }}</textarea>
              </div>
              <div class="w-50 ps-3">
                <label class="form-label">Static Check:</label>
                <textarea class="form-control w-100 text-area-resize-none" readonly="readonly" rows="20" cols="14" id="list-group-history-code">{{ code_sample.result_static }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}

      <div class="card" id="card-notes">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-start px-3">
            <h3 class="mb-3">Notes</h3>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-note-modal">
              New Note
            </button>
          </div>
          <div class="list-group-flush w-100" id="list-group-notes"></div>
        </div>
      </div>

      <div class="modal fade" id="add-note-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="" method="POST" id="form-add-note">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <textarea class="form-control text-area-resize-none" rows="5" placeholder="New note..."></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Add">
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="edit-note-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="" method="POST" id="form-edit-note">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <textarea class="form-control text-area-resize-none" rows="5" id="form-edit-text-area"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <script>
        var currently_editted_note_id = null;

        function getNotes() {
          $.ajax({
            url: '{% url "note-api" %}?code_sample={{ code_sample.id }}',
            success: function(data) {
              $('#list-group-notes').html(
                data.map(note =>
                  `<div class="list-group-item" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <div class="w-75">
                        <textarea class="form-control text-area-resize-none" rows="3" readonly="readonly">${note.content}</textarea>
                      </div>
                      <div class="d-flex flex-column justify-content-between align-items-end">
                        <small>${note.pub_date}</small>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#edit-note-modal" onClick="currently_editted_note_id=${note.id}">
                          Edit
                        </button>
                      </div>
                    </div>
                  </div>`
                ).join('')
              );
            }
          });
        }

        function setupAddNote() {
          $("#form-add-note").submit(function(e) {
            e.preventDefault();
            $.ajax({
              type: 'POST',
              url: '{% url "note-api" %}?code_sample={{ code_sample.id }}&format=json',
              contentType: 'application/json',
              beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
              },
              data: JSON.stringify({
                code_sample: null,
                content: $("textarea", this).val(),
              })
            });
            setTimeout(getNotes, 100);
          });
        }

        function setupEditNote() {
          $("#form-edit-note").submit(function(e) {
            e.preventDefault();
            $.ajax({
              type: 'PUT',
              url: '{% url "note-api" %}?code_sample={{ code_sample.id }}',
              contentType: 'application/json',
              beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
              },
              data: JSON.stringify({
                id: currently_editted_note_id,
                code_sample: null,
                content: $('textarea', this).val(),
              })
            });
            setTimeout(getNotes, 100);
          });
        }

        $(document).ready(function() {
          getNotes();
          setupAddNote();
          setupEditNote();
        });

      </script>

    {% else %}

      <div class="alert alert-warning m-5" role="alert">
        Notes are not available for unauthenticated users. <a href="/auth/login">Log in</a> to leave notes.
      </div>

    {% endif %}

{% endblock %}
