{% extends "base/base.html" %}

{% load static %}

{% block content %}

    {% if user.is_authenticated %}

        {% if code_samples %}

            <div class="position-absolute d-flex flex-column align-items-center vw-100 vh-90">
                <div class="list-group" id="list-group-history">
                    <h3 class="mb-3">History of your code checks</h3>
                    {% for code_sample in code_samples %}
                        <a href="/code-sample/{{ code_sample.id }}" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="mb-2 w-75" id="code-sample-colored-header">{{ code_sample.code_colored | safe }}</div>
                                <div>
                                    <span class="badge rounded-pill">{{ code_sample.language.abbr }}</span>
                                    <span class="badge rounded-pill">{{ code_sample.pub_date }}</span>
                                </div>
                            </div>
                            <p class="mb-1">
                                AI Check:
                                {% if code_sample.result_ai != None %}
                                    <img src="{% static "icons/checked.png" %}" class="d-block-inline" id="icon" height="25px">
                                {% else %}
                                    <img src="{% static "icons/cancel.png" %}" class="d-block-inline" id="icon" height="25px">
                                {% endif %}
                                Static Check:
                                {% if code_sample.result_static != None %}
                                    <img src="{% static "icons/checked.png" %}" class="d-block-inline" id="icon" height="25px">
                                {% else %}
                                    <img src="{% static "icons/cancel.png" %}" class="d-block-inline" id="icon" height="25px">
                                {% endif %}
                            </p>
                        </a>
                    {% endfor %}
                </div>
            </div>

        {% else %}

            <div class="position-absolute d-flex flex-column justify-content-center align-items-center vw-100 vh-90">
                <img src="{% static "icons/empty_folder.png" %}" class="d-block-inline" id="icon" height="250px">
                <h2>Your history is empty... <a class="text-reset fw-bold" href="/check-new-code">Check a new code!</a></h1>
            </div>

        {% endif %}

    {% else %}

        <div class="position-absolute d-flex flex-column justify-content-center align-items-center vw-100 vh-90">
            <img src="{% static "icons/authentication.png" %}" class="d-block-inline" id="icon" height="250px">
            <h2>Please <a class="text-reset fw-bold" href="/auth/login">login</a> to see your history.</h1>
        </div>

    {% endif %}

{% endblock %}
